@model ECore.Web.Models.ViewModels.CardEditVM;

@{
    ViewData["Title"] = "EditCard";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="top-margin">
    <h1>Вопрос-ответ <span class="badge bg-main-sbm">ПРАВИТЬ</span></h1>
</div>

<form asp-controller="Card" asp-action="EditCard" method="post">
    <div asp-validation-summary=" All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CardsId" />
    <div class="form-group">
        <label asp-for="Item.Face">Введите вопрос:</label>
        <input asp-for="Item.Face" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Item.Back">Введите ответ:</label>
        <input asp-for="Item.Back" class="form-control" />
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <h3 class="card-title">Оценка:</h3>
                        <p class="btn bg-inverse text-white text-uppercase">
                            @Model.UserScore.ToString()
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <h3 class="card-title">E-Factor:</h3>
                        <p class="btn bg-inverse text-white text-uppercase">@Model.Efactor.ToString()</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        var dataForCard = new Dictionary<string, string>
    {

        { "cardsId", Model.CardsId.ToString() },
        { "cardsName", "" }
    };
    }

    <button type="submit" class="btn btn-outline-info">Править</button>
    <a asp-action="ListCard" asp-all-route-data="dataForCard" class="btn btn-outline-secondary">Отмена</a>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml"); }
}