
@{
    ViewData["Title"] = "NotItemForTraining";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="inner cover">
    <h3 class="cover-heading"><span class="badge main-heading">Поздравляем, на текущее время все слова изучены!</span></h3>
    <p class="lead">
       Вы можете начать повторять другую коллекцию. Или создать новую.
    </p>
</div>