@{
    ViewData["Title"] = "О языке";
}

<div id="carouselSay" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Иностранные языки прекрасны, когда их не понимаешь.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Курт Тухольский</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Если вы знаете языки, вы везде будете как дома.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Эдмунд дэ Вааль</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Владеть другим языком – значит иметь вторую душу.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Карл Великий</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Учителя только открывают двери, дальше Вы идете сами.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Китайская пословица</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Кто не знает иностранных языков, ничего не знает и о своём собственном.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Вольфганг Гёте</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Люди, с легкостью изучающие иностранные языки, чаще всего обладают сильным характером.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Людвиг Бёрне</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Для познания нравов какого ни есть народа старайся прежде изучить его язык.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Пифагор Самосский</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Для изучения языка гораздо важнее свободная любознательность, чем грозная необходимость.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Святой Августин</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Измените свой язык, и вы измените свои мысли.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Карл Альбрехт</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="carousel-item">
            <img class="image d-block img-fluid" src="~/images/logo-ecore10.svg" />
            <div class="carousel-caption d-md-block">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">Другой язык – это другое видение жизни.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Федерико Феллини</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselSay" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselSay" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<style>
    .image {
        opacity: 0.05;
        height: 15rem;
    }   
</style>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (e) => {

        $('.carousel').carousel({
            interval: 6000
        });
    });

</script>