@{
    ViewData["Title"] = "Home Page";
}

<div class="inner cover">
    <h1 class="cover-heading"><span class="badge main-heading">ЗАПОМИНАЙ ЛЕГКО!</span></h1>
    <p class="lead">
        Хотелось ли тебе когда-нибудь говорить на иностранном языке красиво и убедительно?
    </p>
    <p class="lead">
        Иметь богатую, разнообразную и приятную речь?
    </p>
    <p class="lead">
        Всё гениальное просто!
        Увеличь словарный запас и всё будет бенч!
    </p>
    <p class="lead">
        <a id="btn-heading" class="btn btn-lg btn-outline-info" asp-controller="Cards" asp-action="AllCards">В БОЙ!</a>
    </p>
</div>
