@{
    ViewData["Title"] = "Ошибка";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}
<div id="js-rays-body" data-rays="">
    <div class="js-rays">
        <div class="inner cover">
            <h3 class="cover-heading"><span class="badge main-heading">Oops, кажется нас атаковала ошибка...!</span></h3>
            <p class="lead" style="font-weight:100">
                Попробуйте вернуться назад и выполнить, желаемую операцию, заново.
            </p>
        </div>
    </div>
</div>