
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-white">Произошла ошибка.</p>
    <p class="text-white">Пожалуйста, попробуйте зайти ещё раз.</p>
</header>

